<div class="row text-center">
  <div id="social-btns">
    <div id="twitter" data-url="http://benjamintan.io/<%= request.path %>" data-text="<%= current_article.title %>"></div>
    <div id="facebook" data-url="http://benjamintan.io/<%= request.path %>" data-text="<%= current_article.title %>"></div>
    <div id="googleplus" data-url="http://benjamintan.io/<%= request.path %>" data-text="<%= current_article.title %>"></div>
  </div>
</div>
